@charset "UTF-8";
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('../fonts/Cafe24Ssurround.ttf') format('truetype');
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: 900;
    font-style: normal;
	}
	
	@font-face {
	    font-family: 'Bareun_hipi';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Bareun_hipi.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
@media screen and (min-width: 200px) {
	body{
		background-color: #DCEBFF;
	}
	form {
		font-family: 'Bareun_hipi';
		position: absolute;
		width: 600px;
		height: 1100px;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0 auto;
		border: 1px solid #C8C8FF;
		background-color: white;
		font-size: 25px;
	}
	.btn{
		font-family: 'Bareun_hipi';
		border: 3px solid white;
		background-color: #B4B4FF;
		font-size: 20px;
		color: white;
		font-weight: 600;
		width: 80px;
		height: 40px;
		margin-right: 10px;
	}
	.set{
		background-color: #B4B4FF;
		height: 70px;
		
	}
	td{
		font-family: 'Bareun_hipi';
		padding-top: 20px;
		width: 200px;
		font-weight: 700;
	}
	.center{
		font-family: 'Bareun_hipi';
		text-align: center;
		font-size: 30px;
	}
	.left{
		font-family: 'Bareun_hipi';
		text-align: left;
		font-size: 20px;
	}
	.right{
		font-family: 'Bareun_hipi';
		text-align: right;
		font-size: 20px;
	}
	.set_height{
		font-family: 'Bareun_hipi';
		height: 278px;
		padding-left: 18px;
	}
	.font{
		font-family: 'Bareun_hipi';
		font-size : 25px;
		font-weight: bold;
	}
	.input_style {
		height: 30px;
		width: 80%;
	}
	.input_style2 {
		height: 30px;
		width: 10%;
	}

}